@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background: #9b9b9b;
  color: rgb(110, 92, 92);
  font-size: 14px;

  min-height: 100vh;
  display: grid;
  place-items: center;
}

.Booking2 {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #96a09e;
  padding: 12px;
  border-radius: 4px;
  color: #ffffff;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-bottom: 18px;
  perspective: 400px;

  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 70px;
  background: white;
  width: 100%;
  transform: rotateX(-30deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seatsA {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(6, min-content);
  align-items: center;
}

.Cinema .seatsB {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(9, min-content);
  align-items: center;
}


.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #53b853;
  transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;
  animation: show-off 0.8s;
  visibility: hidden;
}

@keyframes show-off {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.seat {
  display: inline-block;
  background: #aecae4;
  width: 32px;
  height: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
  cursor: pointer;
}

.seatB {
  display: inline-block;
  background: #aecae4;
  width: 28px;
  height: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
  cursor: pointer;
}

.seat.selected {
  background: #b1e6b3 !important;
}

.seatB.selected {
  background: #b1e6b3 !important;
}

.seat.occupied {
  background: #828383;
  cursor: not-allowed;
}
.seatB.occupied {
  background: #828383;
  cursor: not-allowed;
}

.info .count {
  color: #abf5af;
}

.info .total {
  color: #7bc47f;
}
